<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <header>
        <h1>Orders</h1>
    </header>
    <main>
        <a rhef="{{ url_for('index') }}">Home</a>
        <h2>Items</h2>
        <table class="table table-bordered" id="cupcake-order">
            <th>
                <h5>Cupcakes</h5>
            </th>
            <th>
                <h5>Prices</h5>
            </th>
            <th>
                <h5>Quantity</h5>
            </th>
            {% for cupcake in cupcakes %}
            <tr>
                <td>
                    <h6>{{ cupcake[0] }}</h6>
                </td>
                <td>
                    <h6>Price: {{ cupcake[1] }}</h6>
                </td>
                <td>
                    <h6>Qty: {{ cupcake[2] }}</h6>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>